body{
    background-color:black;
    text-align: center;
    cursor: pointer;
}

h1{
    color: white;
    text-align: center;
}

a{
    color:white;
    text-decoration: none;
}


.ma{
    background-color:indigo;
    width: 380px;
    height: 400px;
    text-align: center;
    display:inline-flex;
    text-align: center;
    margin-top: 10px;
    margin-right:30px;
    margin-left: 20px;
    margin-bottom:40px;
    transition: transform .2s;
}

.ma:hover{
    background-color:purple;
    transform: scale(1.1);
}


