body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    margin-top: 5px;
}

ul{
    display: flex;
}

li{
    margin-top: 10px;
    margin-left: 2rem;
}

li select{
    width: 15rem;
    height: 1.8rem;
    text-align: center;
    border-radius: 2rem;
    transition: transform .2s;
    
}

li select:hover{
    background-color:azure;
    transform: scale(1.05); 
}

button{
    width: 7rem;
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
    transition: transform .1s;
    
}

li button:hover{
    transform:scale(1.2); 
    background-color: crimson;
    color:white;
}
.ver{
    display: flex;
    justify-content: center;
}
.cbusqueda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    padding-left: 240px; /* Ajusta el valor de píxeles según tus necesidades */
}

  /* Estilos para la tabla */
  .resultados table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #000;
    color: white;
    border: 1px solid #333;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultados th, .resultados td {
    padding: 12px;
    text-align: left;
    border: 1px solid #333;
    font-size:medium
}

.resultados th {
    background-color: #333;
    color: white;
}

.resultados td {
    border-bottom: 1px solid #333;
}

.resultados tr:nth-child(even) {
    background-color: #222;
}

.resultados tr:hover {
    background-color: #444;
}


footer{
    font-style: italic;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}