body{
    background-color: black;
    color: white;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
}

h1,h3,label{
    color: white;
}

.contenido{
    margin-top:20px;
    justify-content: center;
    display: flex;
    margin-top: -10px;
    
}


.ce1{
    margin-top: 10px;
    text-align:left;
}

.ce1 li,
.ce2 li{
    margin-top:10px;
}

input,select{
    text-align: center;
    width: 18rem;
    border-radius:5px;
}

.ce2{
    margin-top:10px;
    text-align:left;
}

.btn{
    display: flex;
    margin-bottom:2rem;
    justify-content: center;
    transition: transform .1s;
}

button{
    border-radius:15px;
}

button:hover{
    color: white;
    background-color:crimson;
    transform: scale(1.15); 
}

footer {
    background-color: #333;
    color: #fff; /* Cambia el color del texto del footer */
    font-style: italic;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
