body{
    color: white;
    background-color: black;
}

h1{
    text-align: center;
}

.c1{
    display: flex;
    justify-content: center;
}

.l1{
    margin-top:1.5rem ;
}

.l1 li,
.l2 li{
    margin-bottom: 10px;
}

.l1 input,
.l1 label{
    width: 12rem;
    text-align:left;
    display: flex;
    border-radius: 5px;
}

.l2 select{
    width: 15rem;
    text-align: left;
    border-radius: 5px;
}

.l2 label{
    text-align: center;
    display: flex;
    width:12rem;
}

.btn{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button{
    transition: 0.1s;
    border-radius: 15px;
    height: 2rem;
}

button:hover{
    color: white;
    background-color: crimson;
    transform: scale(1.2);
}
