body{
    background-color: black;
}

h1{
    color: white;
}

ul{
    display: flex;
}

li{
    margin-top: 10px;
    margin-left: 2rem;
}

li select{
    width: 15rem;
    height: 1.8rem;
    text-align: center;
    border-radius: 2rem;
    transition: transform .2s;
    
}

li select:hover{
    background-color:azure;
    transform: scale(1.05); 
}

button{
    width: 7rem;
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
    transition: transform .1s;
    background-color:azure;
    
}

li button:hover{
    transform:scale(1.2); 
}
.ver{
    display: flex;
    justify-content: center;
}

 /* Estilos para la tabla */
 .resultados table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 40px;
}

.resultados th, .resultados td {
    padding: 12px; /* Aumentamos el espacio interno de las celdas */
    text-align: left;
    border:1px solid #ddd;
}

.resultados th {
    
    color: white;
}

.resultados td {
  
    color: white;
}


.resultados tr:nth-child(even) {
    
}

.resultados tr:hover {
    
    color: white;
}

footer{
    font-style: italic;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}