body{
    color: white;
    background-color: #333;
    text-align: center;
}


.contenido{
    margin-top: 20rem;
}

.btn{
    margin-top: 40px;
}

input{
    width: 20rem;
    text-align:center;
    border-radius: 15px;
}

button{
    width: 8rem;
    height: 2rem;
    transition: transform .1s;
    border-radius: 15px;
}

button:hover{
    transform: scale(1.2);
    background-color: crimson; 
    color: white;
}


