body{
    background-color:#333;
    color: white;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.login{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 40rem;
    border-radius: 4rem;
    margin-top: 8rem;
}

li{
    margin-bottom:20px;
}

img{
    transition: transform 0.15s;
}

img:hover{
    transform: scale(1.2);
}

input{
    text-align: center;
    width: 13rem;
    border-radius: 15px;
}

input:focus{
    caret-color: red;
}

button{
    width: 6rem;
    height: 2rem;
    border-radius: 15px;
    transition: transform 0.15s;
}

button:hover{
    color: white;
    background-color: crimson;
    transform: scale(1.2);
}

p{
    transition: transform 0.15s;
}

p:hover{
    color: crimson;
    transform: scale(1.2);
}