body{
    background-color: #333;
    color: white;
}

.contenido{
    display: flex;
    justify-content: center;
    margin-top:10rem;
}

ul{
    list-style: none;
    justify-content: center;
}

li{
    margin-bottom: 20px;
}

input{
    width: 13rem;
    text-align: center;
    border-radius: 10px;
}

input:focus{
    caret-color: red;
}

button{
    text-align: center;
    width: 8rem;
    height: 2rem;
    margin-left: 2.5rem;
    transition: transform 0.2s;
    border-radius: 15px;
}

button:hover{
    background-color: crimson;
    color: white;
    transform: scale(1.1);
}



