body{
    background-color: #333;
    color: white;
    text-align: center;
}

.contenido{
    margin-top: 20rem;
}

input,.btn{
    margin-top: 1.5rem;
}

input{
    width: 16rem;
    text-align: center;
    border-radius: 15px;
}

button{
    width: 7rem;
    height: 2rem;
    border-radius: 15px;
    transition: transform .1s;
}

button:hover{
   transform: scale(1.2);
   background-color: crimson;
   color: white;
}

